<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.eduease">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PROFESSOR"
            android:label="Professor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".STUDENT"
            android:label="Student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogInActivity"
            android:label="Log in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpActivity" />

        <activity android:name=".JAVA" />
        <activity android:name=".PROFESSOR_LoginActivity" />
        <activity android:name=".TEACHER_DASHBOARD" />
        <activity android:name=".STUDENT_DASHBOARD" />

        <activity android:name=".TeacherDetail"></activity>
    </application>

</manifest>